<h2>Diff {{diff.id}}</h2>


<svg id="svg" class="svg" xmlns="http://www.w3.org/2000/svg">
  <line id="line" class="line"></line>
</svg>

<svg id="svg2" class="svg" xmlns="http://www.w3.org/2000/svg">
  <line id="line2" class="line"></line>
</svg>


<div class="wrapper">
  <app-source-code *ngIf="diff" [diff]="diff" [type]="sourceCodeType.BEFORE_CHANGES"></app-source-code>

  <div class="diff">
    <app-change-action *ngFor="let change of diff.highLevelActions" [change]="change"></app-change-action>
  </div>

  <app-source-code *ngIf="diff" [diff]="diff" [type]="sourceCodeType.AFTER_CHANGES"></app-source-code>

  <!--<script type="text/javascript">
    function drawLine(start, end, line, color = 'rgb(0, 0, 0)') {
      let x1 = start.getBoundingClientRect().left;
      let y1 = start.offsetTop + start.getBoundingClientRect().height / 2;
      let x2 = end.getBoundingClientRect().left;
      let y2 = end.getBoundingClientRect().top + window.scrollY + end.clientHeight / 2;

      if (x1 < x2) { // code is to the left
        x1 += start.getBoundingClientRect().width;
      } else {
        x2 += end.clientWidth;
      }

      document.documentElement.style.setProperty('&#45;&#45;line-color', setAlpha(color, 1));
      line.setAttribute('x1', x1);
      line.setAttribute('y1', y1);
      line.setAttribute('x2', x2);
      line.setAttribute('y2', y2);
    }

    function setChangedCodeListeners(changedCode, line) {
      for (let elem of changedCode) {
        elem.addEventListener('mouseenter', function () {
          let changeId = elem.className.split(' ').find((v) => v.startsWith('code-change-'));

          const start = elem;
          const end = document.getElementById(changeId);

          console.log(start);
          drawLine(start, end, line);
        });
        console.log(elem.offsetTop)
      }
    }

    function setAlpha(rgba, alpha) {
      console.log(rgba);
      if (rgba.startsWith('rgba')) {
        return rgba.replace(/ ([^ ]*)\)/, alpha);
      } else {
        return rgba.replace('rgb', 'rgba').replace(/(\))/, ', ' + alpha + ')');
      }
    }

    function setChangesListListeners(changesList, line, line2) {
      for (let elem of changesList) {
        let codeChanges = document.getElementsByClassName(elem.id);

        elem.addEventListener('mouseenter', function () {
          for (let change of codeChanges) {
            console.log("Enter", change.style.backgroundColor);
            change.style.backgroundColor = setAlpha(document.defaultView.getComputedStyle(change, null)['background-color'], 1);
          }

          if (elem.className.includes('change-addition')) {
            drawLine(codeChanges[0], elem, line, 'var(&#45;&#45;add-color)');
          } else if (elem.className.includes('change-move')) {
            drawLine(codeChanges[0], elem, line, 'var(&#45;&#45;move-color)');
            drawLine(codeChanges[1], elem, line2, 'var(&#45;&#45;move-color)');
          } else if (elem.className.includes('change-delete')) {
            drawLine(codeChanges[0], elem, line, 'var(&#45;&#45;delete-color)');
          } else if (elem.className.includes('change-update')) {
            drawLine(codeChanges[0], elem, line, 'var(&#45;&#45;update-color)');
            drawLine(codeChanges[1], elem, line2, 'var(&#45;&#45;update-color)');
          }
        });

        elem.addEventListener('mouseout', function () {
          for (let change of codeChanges) {
            line.setAttribute('x1', 0);
            line.setAttribute('y1', 0);
            line.setAttribute('x2', 0);
            line.setAttribute('y2', 0);
            line2.setAttribute('x1', 0);
            line2.setAttribute('y1', 0);
            line2.setAttribute('x2', 0);
            line2.setAttribute('y2', 0);
            console.log("Exit", change.style.backgroundColor);
            change.style.backgroundColor = setAlpha(document.defaultView.getComputedStyle(change, null)['background-color'], 0.3);
          }
        });
      }
    }

    function positionChanges(changes, changedCode) {
      const diffContainer = document.getElementsByClassName('diff')[0];
      const codeChange = document.getElementsByClassName(changes[0].id)[0];
      changes[0].style.top = (codeChange.offsetTop - diffContainer.offsetTop) + 'px';
      for (let i = 1; i < changes.length; i++) {
        const codeChange = document.getElementsByClassName(changes[i].id)[0];
        console.log(codeChange.offsetTop + " positioning");
        changes[i].style.top = Math.max(codeChange.offsetTop - diffContainer.offsetTop, changes[i - 1].offsetTop + changes[i - 1].offsetHeight + 10) + 'px';
      }
    }

    const changedCode = document.getElementsByClassName('changed-code');
    const changesList = document.getElementsByClassName('change');
    console.log(changedCode.length);

    const line = document.getElementById('line');
    const line2 = document.getElementById('line2');

    positionChanges(changesList, changedCode);
    setChangedCodeListeners(changedCode, line);
    setChangesListListeners(changesList, line, line2);
  </script>-->
</div>
