.dataset-container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.card {
  min-width: 80%;
}

.mat-table {
  overflow: auto;
}

.dataset-actions {
  margin-bottom: 10pt;
}

.mat-column-size {
  flex: 0 0 4%;
  width: 4%;
}

.mat-column-delete {
  flex: 0 0 3%;
  width: 3%;
}

.mat-column-open {
  flex: 0 0 5%;
  width: 5%;
}

.mat-column-id {
  flex: 0 0 15%;
  width: 15%;
}

.mat-column-reviews {
  flex: 0 0 3%;
  width: 3%;
}

