.mat-form-field {
  width: 100%;
  min-width: 350px;
}

.error {
  padding: 16px 10%;
  width: 80%;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
