@import "src/styles";

.add {
  background-color: $add-color;
}

.delete {
  background-color: $delete-color;
}

.move {
  background-color: $move-color;
}

.update {
  background-color: $update-color;
}
