<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/" style="text-decoration: none; color: white"><span>HLDiff Evaluation Tool</span></a>
    <span class="menu-spacer"></span>
    <div class="nav-bar">
      <a *ngIf="authenticationService.isUserLoggedIn()" mat-button>
        <mat-icon>account_circle</mat-icon>
        {{authenticationService.getUser().username}}
      </a>
      <button *ngIf="!authenticationService.isUserLoggedIn()" mat-button (click)="openLoginDialog()">Login</button>
      <button *ngIf="!authenticationService.isUserLoggedIn()" mat-button (click)="openRegisterDialog()">Register</button>
      <button *ngIf="authenticationService.isUserLoggedIn()" mat-button (click)="logout()">Logout</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
